@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100%;
	@apply text-white;
	background-color: #07051c;
	background: linear-gradient(35deg, #07051c, #20276d);
}

html::before {
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	left: -10%;
	top: -20%;
	background: linear-gradient(90deg, #57c589, #2f2591);
	border-radius: 50%;
	filter: blur(90px);
	opacity: 0.5;
	z-index: -999;
}
